body {
	background-color: #f2f2f2;
	font-family: calibri;
}

.navdiv {
	position: fixed;
    left: 10;
    right: 0;
    top: 0;
    width: 100%;
    height: 10%;
    background-color:red;
    text-align: center;
    float: left;
}

.homepagediv {
	float: left;
	width: 10%;
}
.homepageicon {
	width: auto;
	height: 100%;
}



.navdiv a {
	float: left;
	height: 100%;
	width: 12%;
	text-decoration: none;
	font-weight: bold;
	color: #069;
	border: 1px solid #ccc; 
  	background-color: #f2f2f2;
}

.navdiv a:hover {
	color: #c00;
	background-color: #fff; 
}

.navdiv a img {
	height: 100%;
	
}

.schoolpicture {
	height: auto;
	width: 100%;
}
.contacttext {
	text-align:left;
	float: left;
	width: auto;
	margin-left:10px;
	margin-right:10px;
}
.WebPage {
	width: 35%;
	height: 90%;
    position: absolute;
    top:10%;
    left: 0;
    right: 0;
	float:left;
    margin: auto;
    background-color:blue;
}
.picturediv {
	text-align:left;
	float: left;
	width: 45%;
	height: auto;
	margin-left:10px;
	margin-right:10px;
}
h1 {
	margin-left:10px;
	margin-right:10px;
}
.contactprofile {
	height: 30%;
	background-color:green;
}

.fillin {
	width: 40%;
}

.foottitle {
	font-weight: bold;
}

.footer {
	position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: red;
    color: white;
    text-align: center;
}

.footercolumnleft {
	float: left;
	text-align: center;
	width: 20%;
	margin-left: 30%;
}

.footercolumnleft a {
	text-decoration: none;
}

.footercolumnright {
	float: left;
	text-align: center;
	width: 20%;
}

.footercolumnright a {
	text-decoration: none;
}

.homepage {
	float: left;
	margin-top: 6%;
}
